*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    display: flex;
    margin: 0 auto;
    margin-top: 200px;
    border: 2px solid #000;
    width: fit-content;
    border-radius: 6px;
    

}